<header>
    <!-- Desktop Nav -->
    <nav class="container">
      <div class="logo">ICSEI 2025</div>
      <ul class="nav-links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="./keyThemesandTopics.html">Themes</a></li>
        <li><a href="../targetParticipants.html">Participants</a></li>
        <li><a href="../conferenceStructure.html">Structure</a></li>
        <li><a href="../schedule.html">Schedule</a></li>
      </ul>
    </nav>
  
    <!-- Mobile Nav -->
    <nav class="container-responsive">
      <div class="logo-responsive">ICSEI 2025</div>
      <ul class="nav-links-responsive" id="navLinks">
        <li><a href="#about">About</a></li>
        <li><a href="#themes">Themes</a></li>
        <li><a href="#Participants">Participants</a></li>
        <li><a href="#schedule">Schedule</a></li>
      </ul>
      <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
  </header>
  