<!-- Hero Section -->
<section class="hero">
  
    <ul class="list-img">
      <img src="/icsei2025/img/logo/nuol.svg" width="45" height="45" alt="">
      <img src="/icsei2025/img/logo/aun.png" width="160" height="45" alt="">
      <img src="/icsei2025/img/logo/jica.png" width="60" height="45" alt="">
      <img src="/icsei2025/img/logo/Logo_of_Burapha_University.svg.svg" width="45" height="45" alt="">
      <img src="/icsei2025/img/logo/climate.svg" width="45" height="45" alt="">
      <img src="/icsei2025/img/logo/toto-symbol-of-quality.svg" width="45" height="45" alt="">
      <img src="/icsei2025/img/logo/lk-moes-01.svg" width="45" height="45" alt="">
      <img src="/icsei2025/img/logo/innogreen-logo_1@4x-1024x188.svg" width="100" height="45" alt="">
      <img src="/icsei2025/img/logo/pal-logo01-03.svg" width="70" height="45" alt="">
    </ul>

    <div class="container">
      <div class="hero-content">
        <p class="subtitle">
          The 2025 NUOL International Conference on Science, Engineering and Innovation (ICSEI 2025), in Association with AUN/SEED-Net Regional Conference
            “Promoting Science, Technology, and Innovation for Sustainable Development in Lao PDR and Beyond”
        </p>
        <p style="font-size: 1.1rem; margin-bottom: 2rem; opacity: 0.9">
            November 27-28, 2025 <br>
          Crowne Plaza Vientiane, National University of Laos, Vientiane Capital, Lao PDR
          
        </p>
      </div>
    </div>

    <div class="patusai"></div>
    <div class="thard-lrong"></div>

    <header>
          <nav>
              <ul class="nav-links" id="navLinks">
                  <a href="/icsei2025/index.html">HOME</a>
                  <a href="/icsei2025/comeimgSoon.html">SPEACKERS</a>
                  <a href="/icsei2025/comeimgSoon.html">DOWNLOAD & SUBMISSION</a>
                  <a href="/icsei2025/comeimgSoon.html">REGISTRATION</a>
                  <a href="/icsei2025/comeimgSoon.html">PUBLICATION & PARTNERS</a>
                  <a href="/icsei2025/comeimgSoon.html">VENUE & ACCMMODATION</a>
                  <a href="/icsei2025/program.html">PROGRAM</a>
              </ul>
              <div class="hamburger" id="hamburger">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
          </nav>
  </header>
</section>
  