<div class="important-dates">
  <h2>Important Dates</h2>
  <br />
  <ul>
    <li>
      <strong>Abstract submission</strong>
      <br />
      <span>August 15, 2025</span>
    </li>
    <li>
      <strong>Acceptance Notification</strong>
      <br />
      <span>September 15, 2025</span>
    </li>
    <li>
      <strong>Full Paper Submission</strong>
      <br /><span>October 31, 2025</span>
    </li>
    <li>
      <strong>Registration</strong>
      <br />
      <span>November 11, 2025</span>
    </li>
    <li>
      <strong>Conference Date</strong>
      <br />
      <span>
        November 27-28, 2025
      </span>
    </li>
  </ul>
</div>
