<div class="logo-container">
    <ul class="list-img">
       <img src="/icsei2025/img/logo/nuol.svg" width="45" height="45" alt="">
       <img src="/icsei2025/img/logo/aun.png" width="160" height="45" alt="">
       <img src="/icsei2025/img/logo/jica.png" width="60" height="45" alt="">
       <img src="/icsei2025/img/logo/Logo_of_Burapha_University.svg.svg" width="45" height="45" alt="">
       <img src="/icsei2025/img/logo/climate.svg" width="45" height="45" alt="">
       <img src="/icsei2025/img/logo/toto-symbol-of-quality.svg" width="45" height="45" alt="">
       <img src="/icsei2025/img/logo/lk-moes-01.svg" width="45" height="45" alt="">
       <img src="/icsei2025/img/logo/innogreen-logo_1@4x-1024x188.svg" width="100" height="45" alt="">
       <img src="/icsei2025/img/logo/pal-logo01-03.svg" width="70" height="45" alt="">
    </ul>
</div>